mlruns/*
*.json
*/.ipynb_checkpoints/*
.ipynb_checkpoints
*.ipynb_checkpoints/*
*.pth
figures*
results/*
temp/*
xBD/*
pretrained/BicycleGAN/*
pretrained/Pix2pix-CycleGAN/*
pretrained/Pix2pixHD/*
*.pyc
xBD_full/*
xBD_full_augmented/*
xBD*
data/
